[Desktop Entry]
Name=rowm
Comment=is where the heart is
Exec=rowm
TryExec=rowm
Type=Application
X-LightDM-DesktopName=rowm
DesktopNames=rowm
Keywords=tiling;floating;wm;windowmanager;window;manager;
